<h2>Blog DevWeb</h2>

<div class="card">
    <div class="card-body">
        <h5>Seja bem vindo!</h5>
        <p>Para acessar o blog, registre-se ou faça o login.</p>
        <a href="/usuarios/login"><button type="button" class="btn btn-success">Logar</button></a>
        <a href="/usuarios/registro"><button type="button" class="btn btn-success">Cadastrar</button></a>


    </div>
</div>
